
.Navbar {
    background-color: var(--navbar-bg-color);
    transition: (background-color) 0.5s ease;
    width: 100%;
    height: var(--navbar-height);
    padding: 0 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
    justify-content: end;
}