.app.light {
    --bg-color: #ebebeb;
    --inverted-bg-color: #272727;
    --primary-color: #1b1b1b;
    --inverted-primary-color: #f8f8f8;
    --secondary-color: rgb(73 73 73);
    --inverted-secondary-color: rgb(235 235 235);

    
}